* {
	padding: 0;
	margin: 0;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
}

h1 {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.App {
	.background {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.name {
		font-size: 20vmin;
		text-shadow:
			-1px -1px 0 #00b3ff,
			1px -1px 0 #00b3ff,
			-1px 1px 0 #00b3ff,
			1px 1px 0 #00b3ff;
	}

	.links {
		display: flex;
		gap: 2rem;

		a {
			font-size: 6vmin;
			text-decoration: none;
			color: black;

			svg path {
				stroke: #00b3ff;
				stroke-width: 0.5px;
				stroke-linejoin: round;
			}
		}
	}

	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	gap: 2rem;
}
